# PostgreSQL
POSTGRES_VERSION=14.18
POSTGRES_CONTAINER_NAME=electronicvoting-db
POSTGRES_DB=DATABASE_NAME
POSTGRES_USER=DATABASE_USERNAME
POSTGRES_PASSWORD=DATABASE_PASSWORD
POSTGRES_PORT=DATABASE_PORT

# Application
APP_CONTAINER_NAME=electronicvoting-app
APP_PORT=your-port
JWT_SECRET=your-secret-key-here
EMAIL_USERNAME=your_email
EMAIL_PASSWORD=your_password
SPRING_PROFILES_ACTIVE=prod
